.leagueTable {
    display: flex;
    justify-content: center;
}

.tableContainer {
    display: flex;
    align-items: center;
    width: 900px;
    margin-bottom: 20px;
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: 3px solid black;
}


