
.home-content{
    display: grid;
    justify-content: center;
}


.home-img{
    width: 950px;
    height: 425px;
    display: flex;
    margin: 1%;

}

.home-img img{
    width: 100%;
    height: 100%;
}