#allMatches{
  height: 650px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*top gs matches*/
#top_gs_table{
  margin-bottom: 2px;
  background-color: #1c2237;
  color: #fff;
}
.top_gs_title{
  width: 200px;
}
.league_table_titles{
  text-align: center;
}